html{
    font-family: 'Montserrat', sans-serif;
    background: #89C4F4;
}


.beach{
    background-color: #E4F1FE;   
    width: 400px;
    height: 500px;
}

span{
    color: red;
}

#has{
   color: #A2DED0;
}

.def{
    color: #E9D460;
}

.day{
    
    width: 200px;
/*     text-align: center; */
    
}


